# Configuration file

####################
# block
####################

block {
    I:blockLiquidNaquadah=4035
    I:goauldGoldDecorStair=4026
    I:goauldPatternedGoldDecorStair=4025
    I:lanteaDecor=4030
    I:lanteaGlassDecor=4029
    I:lanteaOreBlock=4037
    I:lanteaOreIngotBlock=4036
    I:lanteaPatternedSteelDecorStair=4027
    I:lanteaSteelDecorStair=4028
    I:naquadahGenerator=4048
    I:ringPlatform=4031
    I:stargateBase=4033
    I:stargateController=4032
    I:stargateRing=4034
}


####################
# dhd
####################

dhd {
    I:linkRangeX=30
    I:linkRangeY=30
    I:linkRangeZ=30
}


####################
# general
####################

general {
    # Version cache - do not change this!
    I:currentVersion=RC1 build 37
}


####################
# graphics_options
####################

graphics_options {
    # Should HD models be used. (true/false)
    B:HDModels=true

    # Texture resolution setting. (16 / 32 / 64 / 128)
    I:textureRes=128
}


####################
# item
####################

item {
    I:controllerCrystal=4007
    I:coreCrystal=4006
    I:energyCrystal=4000
    I:gdo=4009
    I:iris=4008
    I:lanteaOreIngot=4003
    I:lanteaOreItem=4002
    I:lanteadebug=4005
    I:liquidNaquadahBucket=31733
    I:tokraSpawnEgg=4004
    I:transportRingActivator=4010
    I:zpm=4001
}


####################
# naquadah
####################

naquadah {
    I:genIsolatedOdds=8
    I:genUnderLavaOdds=4
    I:maxIsolatedNodes=4
    I:maxNodesUnderLava=8
}


####################
# options
####################

options {
    B:ActiveGateExplosion=true

    # Enables/Disables generation of Gate Rooms under Desert Pyramids. (true/false)
    B:GenerateStructures=true
    B:addOresToExistingWorlds=false

    # Submit anonymous usage statistic data. (true/false)
    B:enableAnalytics=true
}


####################
# stargate
####################

stargate {
    B:GenerateStructures=true
    B:closeFromEitherEnd=false
    B:oneWayTravel=false
    I:secondsToStayOpen=60
}


####################
# villagers
####################

villagers {
    I:tokra=0
}


