# Configuration file

####################
# block
####################

block {
    I:naquadahBlock=1704
    I:naquadahOre=1703
    I:stargateBase=1701
    I:stargateController=1702
    I:stargateRing=1700
}


####################
# debug
####################

debug {
    B:debugStructures=false
}


####################
# dhd
####################

dhd {
    I:linkRangeX=30
    I:linkRangeY=30
    I:linkRangeZ=30
}


####################
# general
####################

general {
    # Version cache - do not change this!
    I:currentVersion=0.1.0 build 82
}


####################
# graphics_options
####################

graphics_options {
    # Should HD models be used. (true/false)
    B:HDModels=true

    # Texture resolution setting. (32 / 64 / 128)
    I:textureRes=128
}


####################
# item
####################

item {
    I:naquadah=31737
    I:naquadahIngot=31736
    I:sgControllerCrystal=31734
    I:sgCoreCrystal=31735
}


####################
# naquadah
####################

naquadah {
    B:debugLava=false
    I:debugLevel=0
    B:debugRandom=false
    I:genIsolatedOdds=8
    I:genUnderLavaOdds=4
    I:maxIsolatedNodes=4
    I:maxNodesUnderLava=8
}


####################
# options
####################

options {
    B:ActiveGateExplosion=true

    # Enables/Disables Galcticraft support - this will change all addresses! (true/false)
    B:GalacticCraftCompat=false

    # Enables/Disables generation of Gate Rooms under Desert Pyramids. (true/false)
    B:GenerateStructures=true
    B:addOresToExistingWorlds=false
    B:allowCraftingCrystals=true
    B:allowCraftingNaquadah=true
    B:augmentStructures=true
    I:chunkLoadingRange=150

    # Submit anonymous usage statistic data. (true/false)
    B:enableAnalytics=true
    B:enableNaquadahOre=true
}


####################
# stargate
####################

stargate {
    B:GalacticCraftCompat=false
    B:GenerateStructures=true
    B:closeFromEitherEnd=true
    B:explosionFlame=true
    I:explosionRadius=10
    B:explosionSmoke=true
    I:gateOpeningsPerFuelItem=24
    I:minutesOpenPerFuelItem=80
    B:oneWayTravel=false
    I:secondsToStayOpen=30
    B:transparency=false
}


####################
# villagers
####################

villagers {
    I:tokra=100
}


