# Configuration file

####################
# cfg
####################

cfg {
    ####################
    # client
    #===================
    # Client Side options that affect key handling and rendering.
    ####################

    client {
    }

    ####################
    # server
    #===================
    # Server Side options that affect game logic.
    ####################

    server {
        I:shieldEmitterRange=5
        I:stargateMinDistance=50
        ####################
        # worldgen
        #===================
        # World Generation settings.
        ####################

        worldgen {
            I:lootPodChance=10
            I:lootPodSpacing=6
        }

    }

}


####################
# ids
####################

ids {
    ####################
    # blocks
    #===================
    # ID Values for blocks.
    ####################

    blocks {
        I:busCable=1001
        I:invisible=1008
        I:lanteanWall=1010
        I:naquadah=1000
        I:naquadahRail=1006
        I:particleIonizer=1004
        I:shield=1005
        I:shieldController=1002
        I:shieldEmitter=1003
        I:stargate=1009
        I:transportRing=1007
    }

    ####################
    # items
    #===================
    # ID Values for items.
    ####################

    items {
        I:naquadah=5016
        I:personalShield=5018
        I:tabletPC=5017
    }

}


####################
# plugins
#===================
# Configuration values for Integration Plugins.
####################

plugins {
    ####################
    # computercraft
    ####################

    computercraft {
        B:enable=true
    }

    ####################
    # industrialcraft2
    ####################

    industrialcraft2 {
        B:enable=true
    }

    ####################
    # thermalexpansion3
    ####################

    thermalexpansion3 {
        B:enable=true
    }

    ####################
    # tinkersconstruct
    ####################

    tinkersconstruct {
        B:enable=true
    }

}


